.search {
  display: flex;
  justify-content: space-between;
}

.search-area {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: auto;
  align-self: center;
}

.search-btn {
  padding: 10px;
  border: 1px solid black;
  border-radius: 0 20px 20px 0;
  width: 10%;
}

.search-input {
  padding: 10px;
  border: 1px solid black;
  border-radius: 20px 0 0 20px;
  width: 500px;
}

.search-btn {
  background-color: white;
}

.search-btn:hover {
  background-color: #cd7203;
  color: white;
  font-weight: bolder;
}

.shopping-cart-btn {
  border: none;
  position: absolute;
  top: 6px;
  right: 58px;
  font-size: x-large;
  padding: 15px 25px;
  margin-right: 40px;
  margin-top: 15px;
  border-radius: 15%;
  background-color: #FF8C00;
  font-weight: bolder;
}
  
.shopping-cart-btn:hover {
  background-color: #cd7203;
  color: white;
  font-weight: bolder;
}