.empty {
  display: flex;
  justify-content: center;
}

.line {
  display: flex;
  margin: auto;
  width: 90%;
  height: 2px;
  background-color: gainsboro;
}

.search {
  display: flex;
  justify-content: space-between;
}

.search-area {
  display: flex;
  justify-content: center;
  padding: 25px;
  width: 100%;
  margin-left: 124px;
}

.search-btn {
   padding: 10px;
   border: none;
   border-radius: 0 20px 20px 0;
   width: 10%;
}

.search-btn:hover {
  background-color: gainsboro;
}

.search-input {
    border-radius: 20px 0 0 20px;
    width: 40%;
}

.categories {
  display: flex;
  justify-content: space-between;
}

.categories-list {
  width: 20%;
}

.categories-items {
  list-style: none;
}

.categories-btn {
  border: none;
  padding: 15px 25px;
  margin-bottom: 15px;
  background-color: white;
  width: 70%;
  height: 30%;
  border-radius: 10px;
}

.categories-btn:hover {
  background-color: rgba(128, 128, 128, 0.356);
}

.categoriesAndProducts {
  display: flex;
}

.shopping-cart-btn {
  border: none;
  font-size: x-large;
  padding: 15px 25px;
  margin-right: 40px;
  margin-top: 15px;
  border-radius: 10px;
  background-color: white;
}

.shopping-cart-btn:hover {
  background-color: rgba(128, 128, 128, 0.356);
}