.empty {
  display: flex;
  justify-content: center;
}

.line {
  display: flex;
  margin: auto;
  width: 90%;
  height: 2px;
  background-color: gainsboro;
}

.search {
  display: flex;
  justify-content: center;
  padding: 25px;
}

.search-btn {
   padding: 10px;
   border: none;
   border-radius: 0 20px 20px 0;
   width: 7%;
}

.search-btn:hover {
  background-color: gainsboro;
}

.search-input {
    border-radius: 20px 0 0 20px;
    width: 40%;
}