.empty-message {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  color: white;
}

.line {
  display: flex;
  margin: auto;
  width: 90%;
  height: 2px;
  background-color: gainsboro;
}

.categories {
  display: flex;
  align-items: start;
  width: 22%;
}

.categories-list {
  width: 100%;
  padding: 0 0 0 40px;
  margin-top: 30px;
}

.categories-items {
  list-style: none;
}

.categories-btn {
  border: none;
  padding: 25px 25px;
  margin-bottom: 15px;
  width: 80%;
  height: 30%;
  border-radius: 10px;
  background-color: #FF8C00;
  color: white;
  font-weight: bolder;
}

.categories-btn:hover {
  background-color: #cd7203;
}

.categoriesAndProducts {
  display: flex;
  justify-content: space-around;
}

.research-field {
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: #FF8C00;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.product-detail-link {
  text-decoration: none;
  color: black;
}